@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Shopping Cart</h2>

<h3>@ViewBag.Message</h3>

<a asp-action="IncreaseProductCount">Increase products</a>
<a asp-action="DecreaseProductCount">Decrease products</a>