body {
    font-family:Helvetica;
}
#topar {
    display: flex;
    height: 40px;
    width:1100px;
    min-width: 1100px;
    margin: 0 auto;
    /* background-color:beige;*/
}
.topbar-section{
    border-left: 1px #ccc solid;
}
.topbar-menu {
    font-weight:bold;
    font-size:90%;
    padding: 13px 15px 0 15px;
}
#logo {
    margin-top:8px;
    margin-right:8px;
}
#signin-div {
    display: flex;
}
#signin-image {
    width: 25px;
    height: 25px;
    margin:11px 15px;
}
#signin-text {
    margin-top: 14px;
    font-weight: bold;
    font-size:90%;
    padding-right:50px;
}
#bill-div {
    display: flex;
}
#bell {
    height: 25px;
    margin: 9px 8px 0 8px;
}

#more-arrow {
    margin-left: 20px;  
}
#search-div {
    display: flex;
}
#search-box {
    background-color: #e4e4e4;
    border:none;
    font-weight:bold;
    font-size:14px;
    margin:5px 0 5px 5px;
}
#magnifying-glass{
    height:30px;
    margin-top:5px;
}

header{
    background-color:#bb1919;   
    border:1px solid #ccc;
}
#menu-bar {
    height: 70px;
    display: flex;
    width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
}
#menu-bar h1{
    margin:0;
    color:white;
    font-size:40px;
    font-weight:normal;
    padding-top:10px;
}
#local-news{
    border:1px #bb4545 solid;
    width:250px;
    padding:5px 5px 0 10px;
}

#local-news a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    top:-8px;
}

#local-news a:hover {
    text-decoration: underline;
}

#menubar-2-container {
    background-color: #A91717;
}

#menubar-2 {
    width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
    height:40px;
}

#menubar-2 a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    position:relative;
    top:10px;
    border-right: 1px solid #bb4545;
}

.no-border {
    border: none!important;
}
#down-arrow {
    position: relative;
    top: 10px;
}